form {
    border: 1px solid greenyellow;
    padding: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

label, input[type=text] {
    margin: 10px;
}

input[type=text] {
    border: 3px double black;
}

.ng-touched.ng-invalid {
    border: 1px solid crimson !important;
}

.error {
    color: red;
    font-size: 8px;
}
