.news-item{
    margin: 5px;
    padding: 5px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.gray {
    color: gray;
}
.btn-remove{
    width:100%;  
}
.btn-counter{
    width:20%;   
}
.btn-success.btn-counter{
    margin-right:5px;   
}
h3{
    margin-top: 10px;
}